<ul class="menu">
  <li *ngFor="let menu of menus" class="border-bottom">
    <!--非父菜单-->
    <a *ngIf="!menu.beParent" routerLinkActive="active" #link
       [routerLink]="menu.url"
       [style]="getStyle(menu, link)"
       (mouseover)="onMouseover(menu, link)"
       (mouseleave)="onMouseleave(menu, link)">
      <div class="inner">
        <i [className]="menu.icon"></i>
        <span>{{ menu.name }}</span>
        <span *ngIf="menu.children?.length > 0" style="float: right">
          <ng-container *ngIf="!menu.showChildren"><</ng-container>
          <ng-container *ngIf="menu.showChildren">⋁</ng-container>
        </span>
      </div>
    </a>
    <!-- 父菜单-->
    <a *ngIf="menu.beParent" #link
       (click)="onMenuClick(menu)"
       [style]="getStyle(menu, link)"
       (mouseover)="onMouseover(menu, link)"
       (mouseleave)="onMouseleave(menu, link)">
      <div class="inner">
        <i [className]="menu.icon"></i>
        <span>{{ menu.name }}</span>
        <span *ngIf="menu.children?.length > 0" style="float: right">
          <ng-container *ngIf="!menu.showChildren"><</ng-container>
          <ng-container *ngIf="menu.showChildren">⋁</ng-container>
        </span>
      </div>
    </a>
    <ul *ngIf="menu.children?.length > 0 && menu.showChildren" class="submenu">
      <li *ngFor="let childMenu of menu.children" class="border-bottom">
        <a routerLinkActive="active" #childLink
           [routerLink]="getSubRouteLink(menu, childMenu)"
           [style]="getStyle(childMenu, childLink, 0.85)"
           (mouseover)="onMouseover(childMenu, childLink, 0.85)"
           (mouseleave)="onMouseleave(childMenu, childLink, 1)">
          <div class="inner">
            <small>
              <i [className]="childMenu.icon"></i>
              <span>{{ childMenu.name }}</span>
            </small>
          </div>
        </a>
      </li>
    </ul>
  </li>
</ul>

